@use '../utils/units';

$text-spacing: calc(units.$basic-unit * 4 / 3);
$sin-45: 0.707106781;
$line-height: calc(1.2em * 2 / 3);

.stop-bullet {
    stroke-width: units.$basic-unit * .5;
    fill: white;
    stroke: black;
}

.text-subtitle {
    font-size: calc(2em / 3);
}

.text-left, .text-upper-left, .text-lower-left {
    text-anchor: end;
}

.text-up, .text-down {
    text-anchor: middle;
}

.text-upper-left, .text-upper-right, .text-up {
    alignment-baseline: text-after-edge;
}

.text-left {
    transform: translateX(calc(-1 * $text-spacing));
}

.text-right {
    transform: translateX($text-spacing);
}

.text-up {
    transform: translateY(calc(-1 * $text-spacing)) translateY(-1 * $line-height);
}

.text-down {
    transform: translateY($text-spacing) translateY($line-height);
}

.text-lower-right {
    transform: translateX(calc($text-spacing * $sin-45)) translateY(calc($text-spacing * $sin-45)) translateY($line-height);
}

.text-lower-left {
    transform: translateX(calc($text-spacing * $sin-45 * -1)) translateY(calc($text-spacing * $sin-45)) translateY($line-height);
}

.text-upper-right {
    transform: translateX(calc($text-spacing * $sin-45)) translateY(calc(-1 * $text-spacing * $sin-45)) translateY(-1 * $line-height);
}

.text-upper-left {
    transform: translateX(calc($text-spacing * $sin-45 * -1)) translateY(calc(-1 * $text-spacing * $sin-45)) translateY(-1 * $line-height);
}