.stop-bullet,
line,
path {
    .chuo-rapid &,
    .ome &,
    .itsukaichi & {
        stroke: #ff4500;
    }

    .chuo-sobu & {
        stroke: #ffd700;
    }

    .tokaido & {
        stroke: #ffa500;
    }

    .musashino & {
        stroke: #ff4500;
    }

    .nambu & {
        stroke: #ffd700;
    }

    .yokohama & {
        stroke: #ffd700;
    }

    .negishi &,
    .keihin-tohoku & {
        stroke: #00bfff;
    }

    .saikyo & {
        stroke: #2e8b57;
    }

    .shonan-shinjuku & {
        stroke: #ff0000;
    }

    .takasaki &,
    .tohoku &,
    .tokaido & {
        stroke: #ffa500;
    }

    .yamanote & {
        stroke: #9acd32;
    }

    .yokosuka &,
    .sobu-rapid & {
        stroke: #0070b9;
    }

    .keiyo & {
        stroke: #dc143c;
    }

    .joban-rapid & {
        stroke: #3cb371;
    }

    .joban-local & {
        stroke: #808080;
    }
}

text.label-text-bg {
    stroke: white;
    paint-order: stroke;
    stroke-width: 6px;
}

text {
    inline-size: 72px;
}
