.stop-bullet, line, path {
    #ginza & {
        stroke: #f7931d;
    }

    #marunouchi & {
        stroke: #ed1c24;
    }

    #hibiya & {
        stroke: #8ba2ae
    }

    #tozai & {
        stroke: #00b2dd;
    }
    
    #chiyoda & {
        stroke: #00a650;
    }

    #yurakucho & {
        stroke: #BB8B38;
    }

    #hanzomon & {
        stroke: #937cb9;
    }

    #namboku & {
        stroke: #00b5ad;
    }

    #fukutoshin & {
        stroke: #ba6831;
    }

    #asakusa & {
        stroke: #EF5BA1;
    }

    #mita & {
        stroke: #0080C6;
    }

    #shinjuku & {
        stroke: #6DC067;
    }

    #oedo & {
        stroke: #B51E82;
    }
}